html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
	background-image: url(../images/clouds.jpg);
}

header {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1em;
}

.title {
	color: white;
}

nav a {
	color: white;
	text-decoration: none;
	margin-left: 10px;
	text-transform: uppercase;
}

nav a:hover {
	border-bottom: 1px solid yellow;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	margin-top: 20px;
}

box {
  border: 1px solid black;
  margin: 10px;
}

li {
  display: inline;
  text-decoration: none;
}

img {
  border-radius: 50%;
  border: 1px solid black;
  width: 100px;
}

.teacher {
 padding: 10px;
 display: flex;
 align-items: center;
 background-color: rgba(255, 255, 255, 0.6);
}

.teacher-image {
  padding-right: 20px;
  align-items: center;
}

.teacher-content {
  align-items: center;
}

.second-row {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  border-top: 1px solid black;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 20px;
}

.course {
  width: 50%;
  padding: 10px;
}

.rating {
  width: 50%;
  border-left: 1px solid black;
  padding: 10px;
}


/*Student Page Styles */
.student {
	text-align: center;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}

.student-info {
	display: flex;
	flex-wrap: wrap;
}

.info-label {
	text-align: right;
	font-weight: bold;
	width: 45%;
	padding-right: 10px;
}

.info {
	width: 50%;
}

.left-align {
	text-align: left;
}


/* Course styles */

.courses {
	display:flex;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

.course-name {
	width: 30%;
	border-right: 1px solid black;
}

.course-info {
	margin-left: 20px;
}

@media screen and (max-width: 1015px) {
	.title {
		width: 40%;
	}

	h1 {
		font-size: 1em;
	}
}

@media screen and (max-width: 800px) {
	.container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.title {
		width: 100%;
		padding-bottom: 20px;
	}

	box {
		width: 80%;
	}


}
